// Typography
$font-size-root: 16px;
$line-height-base: 1.65;
$headings-font-weight: 600;
$monofont: "Fira Code";

// Shared colors
$primary: #3182ce;
$secondary: #63b3ed;
$success: #38a169;
$info: #4299e1;
$warning: #ecc94b;
$danger: #e53e3e;

// Spacing and layout
$border-radius: 6px;
$content-max-width: 70rem;
$spacer: 1rem;
