/*-- scss:defaults --*/

$navbar-bg: #063559;
$navbar-fg: #62ff88;

/*-- scss:rules --*/

.navbar-brand > img {
  max-height: 48px;
}

div.quarto-about-solana .about-entity .about-link {
  font-size: 1.5em;
  color: $primary;
  border-style: none;
  transition: all .35s ease;
}

div.quarto-about-solana .about-entity .about-link:hover {
  color: $link-hover-color;
}