/*-- scss:defaults --*/

/*-- scss:rules --*/
.navbar {
  height: 60px;
  webkit-box-shadow: 1px 1px 18px #4d4d4d;
  moz-box-shadow: 1px 1px 18px #4d4d4d;
  box-shadow: 1px 1px 18px #4d4d4d;
}

.navbar-brand > img {
  max-height: 48px;
}

div.quarto-about-solana .about-entity .about-link {
  font-size: 1.5em;
  color: $primary;
  border-style: none;
  transition: all .35s ease;
}

div.quarto-about-solana .about-entity .about-link:hover {
  color: $link-hover-color;
}