/*-- scss:defaults --*/
$primary: #63b3ed;
$body-bg: #1a202c;
$body-color: #e2e8f0;
$navbar-bg: #e2e8f0;
$navbar-fg: #2d3748;
$navbar-hl: #63b3ed;
$blockquote-border: #4a5568;
$toc-bg: #2d3748;
@import '_shared.scss';
