/*-- scss:defaults --*/
$primary: #3182ce;
$body-bg: #ffffff;
$body-color: #2d3748;
$navbar-bg: #1a365d;
$navbar-fg: #f7fafc;
$navbar-hl: #63b3ed;
$blockquote-border: #6c757d;
$toc-bg: #f7fafc;
@import '_shared.scss';
